/* .filler {
    background-color: whitesmoke;
    width: 350px;
    height: 370px;
} */

/* #barChart1 {
    width: 500px;
    height: 500px; 
    margin: 20px auto;
    background-color: blue;
}   */