.row {
    /* background-color: red; */
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
    /* flex-wrap: wrap; */
}

.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 15px;
}

.titleCard {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.notesCard {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* background-color: green; */
    height: 59%;
    /* margin-top: 15px; */
}

.nameCard {
    /* background-color: yellow; */
    width: 100%;
    /* height: 35%; */
}

.smallCard {
    /* background-color: blue; */
    width: 35%;
}

.wideCard {
    /* background-color: blue; */
    width: 97%;
}

.top {
    padding-top: 20px;
}

.bold {
    font-weight: bolder;
}

.background {
    background-color: white;
}

.saveButton {
    display: flex;
}