<div class="ui container stick">
  <div class="ui secondary menu back">
    <div class="space"></div>
    <a routerLink="/home" class="item">
      <img src="/assets/panda.png" alt="panda" />
    </a>

    <a routerLink="/home" class="item">
      <h2>PandaPower</h2>
    </a>

    <div class="right menu">
      <div class="ui item">
        <div class="username">John Smith</div>
        <div class="ui item">
          <img src="/assets/user.png" alt="user" />
        </div>
      </div>
      <a routerLink="" class="item">
        <p class="sign">Sign Out</p>
      </a>
    </div>
    <div class="space"></div>
    <div class="space"></div>
  </div>
</div>
