.bold {
    font-weight: bold;
}

.grey {
    color: grey;
}

.height {
    line-height: 0;
    white-space: normal;
    /* background-color: red; */
}

.param {
    line-height: 1.5;
    padding-bottom: 5px;
    /* background-color: red; */
}

.ref {
    background-color: whitesmoke;
    padding-top: .5px;
    padding-bottom: .5px;
    padding-left: 2px;
    padding-right: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

/* .wrap {
    margin-bottom: 10px;
} */