.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.ui {
  background-color: rgb(68, 107, 157);
}

.test {
  color: white;
}

.save {
  color: white
}
