<div class="wrap">
    <div>
        <p class="title height">What to Order</p>
        <p class="explain text">To optimize your selected refineries, 
            follow these routes from the origins to 
            their respective refineries.</p>
           <p class="bold text">Order the following number of barrels from each 
            origin using the given transport type(s):</p>

    </div>

    <br/>
    <br/>

    <div>
        <div>
            <app-route-chart></app-route-chart>
        </div>
    </div>
    
</div>
