.container {
  width: 40%;
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 25px;
  margin-top: 4%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
  height: 100%;
}

.style {
  display: flex;
  justify-content: space-between;
}

.submit {
  background-color: #dedcdc;
  border: solid 1px white;
}

