<div class="wrap">
  <div class="ui container">
    <h1>Sign Up</h1>

    <div class="ui large form">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>

            <input placeholder="First Name" type="text" />
          </div>

          <div class="field">
            <label>Last Name</label>

            <input placeholder="Last Name" type="text" />
          </div>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>

          <input type="text" name="email" placeholder="E-mail address" />
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>

          <input type="password" name="password" placeholder="Password" />
        </div>
      </div>

      <div class="style">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="example" />

            <label>Remember me</label>
          </div>
        </div>
        <div class="field" class="test">
          <p>Already have an account? <a routerLink="">Sign In</a></p>
        </div>
      </div>

      <br />

      <div class="ui submit button" routerLink="/home">Sign Up</div>
    </div>
  </div>
  <app-foot></app-foot>
</div>
