.container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.header {
    /* background-color: blue; */
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.style {
    width: 40%;
}

.button {
    background-color: whitesmoke;
}
.par {
    /* background-color: red; */
    /* text-align: justify; */
    /* width: 100%; */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.hi {
    display: flex;
    flex-direction: column;
    height: 100%;
}