<div class="hi">
  <div class="wrap">
    <div class="ui container">
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h1 class="ui image header">
              Forgot Password
          </h1>
          <br/>
          <br/>
          <br/>
          <h4 class="par">Enter your PandaPower email address that 
              you used to register. We'll send you an email with your 
              username and a link to reset your password.</h4>
          <br/>
          <br/>
          <br/>
          <form class="ui large form ">
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="email" name="email" placeholder="Email address">
                </div>
              </div>
              <div class="ui fluid large submit button" routerLink="">Reset Password</div>
            </div>
  
            <div class="ui error message"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-foot></app-foot>
</div>